
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

<h2>Buy</h2>

@using onlineSite.Models;

<!DOCTYPE html>
<html>
<body>
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Item item in (List<Item>)Session["cart"])

                                {
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img src="~/Image/@item.Product1.p_img" width="100px" height="100px" />

                                            </a>
                                    </td>
                                        <td class="name-pr">
                                            <a href="#">
                                                @item.Product1.p_name
                                            </a>
                                        </td>
                                        <td id="price" class="price-pr">
                                            <p id="price" oninput="calc()">   @item.Product1.product_price</p>
                                        </td>
                                        <td class="quantity-box">
                                            <a href="#">
                                                @item.Quantity
                                            </a>@*<input name="number" id="num" oninput="calc()" type="number" size="4" value=" @item.Quantity" min="0" step="1" class="c-input-text qty text">
                                        </td>*@
                                        <td class="total-pr">
                                            <p id="totalprice" oninput="calc()"> @(item.Product1.product_price*item.Quantity) </p>
                                        </td>
                                        <td class="remove-pr">
                                        <td>
                                            <a href="@Url.Action("Remove", "online", new { id = item.Product1.p_id })">

                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Update Cart" type="submit">
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold">
                                @{
                                    List<Item> cart = (List<Item>)Session["cart"];
                                    var total = cart.Sum(item => item.Product1.product_price * item.Quantity);
                                }   @total
                            </div>
                        </div>
                       
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5">  @total </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>
            <br>
            <a href="@Url.Action("Index", "Product")">Continue Shopping</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type='text/javascript'>
        function calc() {
            var total = 0;
            var price = document.getElementById("price").innerHTML;
            var num = document.getElementById("num").value;
            total = parseFloat(price) * num
            //var total =10000*5
            //if (!isNaN(total))
            console.log(price, num);

            document.getElementById("totalprice").innerHTML = total
        }

        //$('#num').on('keyup', function () {
        //        var qty = $('#num').val();
        //    var price = $('#price').val();
        //    var tot = 1
        //    $('#totalprice').val(tot);
        //    });


                //function findTotalcalculateAmount(val) {
                //    var price = document.getElementById("price").innerHTML;
                //    var tot_price = val * price;
                //    /* see bellow here the result*/
                //    var divobj = document.getElementById('totalValue');
                //    divobj.value = tot_price;
                //}
    </script>

</body>
</html>